*.gem
*.tgz
*.sublime-project
*.sublime-workspace
.bundle
.DS_Store
.jekyll-metadata
.sass-cache
_asset_bundler_cache
_site
example/_site
vendor
codekit-config.json
deploy.py
Gemfile.lock
node_modules
npm-debug.log*